@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@700&family=Roboto+Mono&family=Russo+One&family=Secular+One&display=swap');


body{
    margin: 0;
    font-family: "Roboto Mono", Helvetica, sans-serif;
    background-color: black;
    color: #902302;
}
header{
    margin-right: 0;
    margin-top: 15px;
    display: grid;
    grid-template-columns: 150px 1fr;
    align-items: center;
}

header img{
    background-color: #ffd60a; 
    border-radius: 1000%;
    max-width: 100%
}
#logo-link{
    margin-left: 10px;
}

nav {
    display: flex;
    justify-content: space-around;
    margin-right: 0;
    margin-left: 25px;
    background-color: #902302;
    border-radius: 30px 0 0 30px;
    height: 50%;
    font-family: "Russo One", "Rajdhani", "Secular One";
}
nav a{
    text-align: center;
    background-color: #902302;
    color: black;
    text-decoration: none;
    padding: 30px;
    font-size: 20px;
}
nav a:hover{
    background-color: #ffd60a;
    color: #4eb2da;
}

#title{
    font-family: "Russo One", "Rajdhani", "Secular One";
    text-align: center;
    color: #ffd60a;
}
#welcome-message h3{
    margin: 25px;
    color: #4eb2da;
    text-align: center;
}
main{
    margin: 25px;
}
h2{
    color: #4eb2da;
}
p{
    margin-left: 100px;
    margin-right: 100px;
}

.products{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: center;
    text-align: center;
    margin-top: 50px;
}
.blaster1,.blaster2,.blaster3,.blaster4,.ship1,.ship2,.ship3,.ship4,.droid1,.droid2,.droid3,.droid4{
    margin: 20px;
}
.blaster1 img, .blaster2 img, .blaster3 img, .blaster4 img{
    max-width: 500px;
    max-height: 250px;
    border: #ffd60a;
    border-style: solid;
    border-width: 4px;
    border-radius: 20%;
}
.blaster1 img:hover, .blaster2 img:hover, .blaster3 img:hover, .blaster4 img:hover{
    max-width: 500px;
    max-height: 250px;
    border: #4eb2da;
    border-style: solid;
    border-width: 4px;
    border-radius: 20%;
}

.ship1 img, .ship2 img, .ship3 img, .ship4 img{
    max-width: 500px;
    max-height: 250px;
    background-color: #ffd60a;
    border-radius: 20%;
}
.ship1 img:hover, .ship2 img:hover, .ship3 img:hover, .ship4 img:hover{
    max-width: 500px;
    max-height: 250px;
    background-color: #4eb2da;
    border-radius: 20%;
}

.droid1 img, .droid2 img{
    max-width: 500px;
    max-height: 250px;
    background-color: #ffd60a;
    border-radius: 20%;
}
.droid3 img, .droid4 img{
    max-width: 250px;
    max-height: 500px;
    background-color: #ffd60a;
    border-radius: 20%;
}
.droid1 img:hover, .droid2 img:hover{
    max-width: 500px;
    max-height: 250px;
    background-color: #4eb2da;
    border-radius: 20%;
}
.droid3 img:hover, .droid4 img:hover{
    max-width: 250px;
    max-height: 500px;
    background-color: #4eb2da;
    border-radius: 20%;
}


footer{
    color: black;
    margin-left: 0;
    background-color: #902302;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius:0 30px 30px 0;
    height: 75px;
    margin-bottom: 25px;
    margin-right: 25px;
}
footer h3{
    margin-left: 25px;
}
footer a{
    color: black;
    text-decoration: none;
    margin-left: 300px;
}
footer a:hover{
    color: #ffd60a;
    text-decoration: underline;
}

/* checkout page */
.container {
    background-color: black;
    padding: 5px 20px 15px 20px;
    border: 1px solid #4eb2da;
    border-radius: 20px;
    margin-left: 250px;
    margin-right: 250px;
    margin-top: 20px;
    margin-bottom: 50px;

    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr; */
  }

  .checkout-img1, .checkout-img2, .checkout-img3, .checkout-img4{
      max-width: 125px;
      max-height: 125px;
      background-color: #ffd60a;
      border: #ffd60a;
      border-style: solid;
      border-width: 2px;
      border-radius: 20%;
  }
  h4{
      text-align: right;
  }
  .container h3{
      text-align: right;
  }
  .policy{
      margin-bottom: 75px;
  }